body {
    font-size: 17px;
    color: #113838;
    font-family: Arial, sans-serif;
    margin: 30px;
    padding: 0;
    background: #f4f4f4;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px #113838(0, 0, 0, 0.1);
}

h1 {
    /*text-align: center;*/
    color: #113838;
    margin-left: 1%;
    margin-right: 3%;
    font-size: 27px;
}

table {
    border-collapse: separate;
    width: 70%;
    margin: auto;
    color: #113838;
    border: 1px solid;
    border-radius: 7px;
    border-spacing: 0;
    overflow: hidden;
}
th{
    padding: 11px;
}
th,
td {
    
    text-align: center;
    border: 0.5px solid #ccc;

}

tr {
    background-color: #DEF7E5;
}

.tabelas {

    text-align: center;
    margin-left: 1%;
    margin-right: 3%;


}

input[class="textoTabela"] {
    width: 90%;
    height: 40px;
    border: none;
    box-sizing: 0;
    font-size: 15px;
    color: #113838;
    outline: none;
    background-color: #DEF7E5;
}

label {
    font-size: 21px;
}

.testeFuncional {
    width: 800px;
    /*comentando para caso precise mudar (width: 800px)*/
    height: 90px;
    /*comentando para caso precise mudar (height: 90px)*/
    border-radius: 8px;
    resize: none;
    font-family: Arial, sans-serif;
    font-size: 15px;
    gap: 10px;
    color: #113838;
    display: flex;
    flex-direction: row;

}

.ExameCompl,
.obs,
.Diagnostico,
.obj,
.Condutas {
    width: 100%;
    /* comentando para caso precise mudar (width: 800px;)*/
    height: 205px;
    /* comentando para caso precise mudar (height: 210px;)*/
    font-family: Arial, sans-serif;
    font-size: 15px;
    resize: none;
    border-radius: 8px;
    
    color: #113838;
    align-items: center;
}
.Condutas{
   width: 100%;
   height: 410px; 
   font-size: 17px;
    
}

button {
    width: 170px;
    height: 47px;
    margin-top: 50px;
    margin-right: 25%;
    margin-left: 85%;
    border-radius: 8px;
    border: 1px solid black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DEF7E5;
    text-align: center;
}