body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
  background: #f4f4f4;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h1 {
  color: #333;
}

.instrucoes, .resultado {
  margin-bottom: 20px;
}

.timer {
  display: flex;
  align-items: center;
  gap: 10px;

  
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #2a8686;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

label {
  font-size: 2em;
  min-width: 80px;
  text-align: center;
}
