* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    font-family: Arial, sans-serif;
    height: auto;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: white; 
    overflow-y: auto;

  }
  /* estilização usada para primeira tabela (TUGT) parâmetros de teste e segunda tabela de valores normativos do TAF */
  .tabela table{
    width: 100%;
    border-collapse: collapse;

  }
  .tabela th, .tabela td{
    border: 1px solid black;
    padding: 10px;
    text-align: left;
    color: black;
  }
  .tabela th{
    background-color: #f2f2f2;
  }
  .tabela td{
    background-color: #e0e0e0;
  } /* fim da estilização da tabela*/

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    
      input[type="text"]{
        
        padding: 5px;
        width: 200px;
        font-size: 16px;
      }
  }
  
  .image-section {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     max-width: 1000%;
     padding: 10px;
  }
  .left-image, .right-image{
    width: 300px;
    height: auto;
  }
  
  .central-section {
    background-color: #113838; 
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    color: white; 
    width: 1440px;
    max-width: 100vw; 
  }
  
  .central-section h1 {
    text-align: center; 
    margin-bottom: 20px;
  }
  
  .central-section p {
    text-align: justify; 
    line-height: 1.6; 
    font-size: 19px; 
  }

  