*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins' , Arial, Helvetica, sans-serif;
    list-style: none;
	text-decoration: none;	
}

body{
	background-color: #113838;
}

header{
	position: fixed;
	right: 0%;
	top: 0%;
	z-index: 1000;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 50px 1px 10px;
	background: #113838;
}

.logo-nome-fisio{
	width: 20vw;
	height: auto;
}

.navlist{
	display: flex;
}
.navlist a{
	color: aliceblue;
	margin-left: 60px;
	font-size: 15px;
	font-weight: 600;
	border-bottom: 2px solid transparent;
	transition: all .55s ease;
}
.navlist a:hover{
	border-bottom: 2px solid white;
}

#menu-icon{
	color: aliceblue;
	font-size: 35px;
	z-index: 10001;
	cursor: pointer;
	display: none;
}

.sobre{
	display: flex;
	margin: 100px 50px 0 50px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
}
.sobre h1{
	text-align: center;
	font-size: 45px;
	font-weight: 700;
	color: white;
}
span{
	color: #79e3bd;
}
.sobre-texto{
	display: flex;
	margin: 50px 50px 50px 50px;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
}
.sobre-texto h2{
	margin-top: 30px;
	font-size: 30px;
	color: aliceblue;
}
.sobre-texto p{
	font-size: 22px;
	color: aliceblue;
}
.logo{
	width: 17vw;
	height: auto;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo img{
	width: 90%;
	border-radius: 50%;
	border: .5rem solid transparent;
	outline: .5rem solid #79e3bd;
}
/*.logo .circle-spin{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0);
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border-top: .2rem solid #ffffff;
	border-right: .2rem solid #79e3bd;
	border-bottom: .2rem solid #ffffff;
	border-left: .2rem solid #79e3bd;
}*/

.framework{
	display: flex;
	margin: 50px 50px 50px 50px;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
}
.framework h2{
	font-size: 30px;
	color: aliceblue;
}
.framework p{
	font-size: 22px;
	color: aliceblue;
}

.kanban{
	display: flex;
	margin: 50px 50px 100px 50px;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
}
.kanban h2{
	font-size: 30px;
	color: aliceblue;
}
.kanban p{
	font-size: 22px;
	color: aliceblue;
}

.heading{
	text-align: center;
	font-size: 45px;
	font-weight: 700;
	color: white;
}
.testimonial-container{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	padding: .1rem 1rem;
}
.testimonial-container .testimonial-wrapper{
	position: relative;
	max-width: 90rem;
	width: 100%;
	padding: 1rem 3rem 1.5rem 3rem;
}
.testimonial-wrapper .testimonial-box{
	padding: .2rem;
	border-radius: 2rem;
	overflow: hidden;
}
.testimonial-content .testimonial-slide{
	border: .1rem solid white;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 2rem;
	padding: 3rem 5rem;
	border-top: .8rem solid #79e3bd;
	border-bottom: .8rem solid #79e3bd;	
}
.testimonial-slide img{
	width: 14rem;
	height: 14rem;
	object-fit: cover;
	border-radius: 50%;
	border: .5rem solid transparent;
	outline: .5rem solid #79e3bd;
}
.testimonial-slide h2{
	font-size: 2.5rem;
	color: white;
	margin: 2rem 0 .5rem 0;
}
.testimonial-slide h3{
	color: #79e3bd;
	font-size: 2rem;
	margin-bottom: 2rem;
}
.testimonial-slide h4{
	font-size: 1.4rem;
	color: white;
	text-align: center;
}
.testimonial-slide p{
	font-size: 1.4rem;
	color: white;
	text-align: center;
	margin-bottom: 2rem;
}
.lattes{
	margin-left: -70rem;
	margin-top: 1rem;
	font-size: 1.4rem;
	color: white;
}
.testimonial-box .swiper-button-next,
.testimonial-box .swiper-button-prev{
	color: #79e3bd;
}
.testimonial-box .swiper-button-next{
	right: 0;
}
.testimonial-box .swiper-button-prev{
	left: 0;
}
