:root{
--cor1:#fff;
--cor2:#333;
--cor3:#DEF7E5;
--cor4:#DEF7E5;
--cor5:#b3dca8;
--cor6:#000;
--cor7:#99e39c;

}

/* Estilos gerais */
html, body {
    font-family: Arial, sans-serif;
    background-color: var(--cor1);
    color: var(--cor2);
}
div{
    gap: 0;
}
.container {
    margin: 20px auto;
    background-color: var(--cor3);
    border-radius: 10px;
    border: 1px solid var(--cor4);
    gap: 38px;
}
p{
    size: 20px;
    color: #113838;
    margin-bottom: none;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    color: #113838;

}
legend{
    font-family: Roboto;
    size: 20px;
    line-height: 22px;
    color: #113838;
}
/* Agrupamento das colunas */
.column-group {
    display: flex;
}

/* Colunas flexíveis */
.column {
    flex: 1;
    padding: 20px;
    margin-top: none;
}
.column > h4{
    padding: 35px;
}

.legend{
    padding: 35px;
}

/* Estilo para Fieldset */
.section {
    padding: 35px;
}

.section legend {
    margin-bottom: 10px; /* Espaçamento abaixo do título */
}

.section > div {
    display: flex;
}

.section > div > label {
    display: flex; /* Alinha checkbox e texto horizontalmente */
    align-items: center; /* Alinha verticalmente */
    margin-bottom: 8px; /* Espaçamento entre as labels */
}


/* Organização em linha */
.horizontal-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinha as colunas no topo */
    gap: 10px;
}

.horizontal-group div {
    flex: 1;
}

.horizontal-group label {
    display: flex;
    align-items: center; /* Alinha o checkbox e o texto verticalmente */
    margin-bottom: 2px; /* Espaço entre cada linha de checkbox */
}

/* Caixa de notas */
.notes {
    display: flex;
    justify-content: flex-end; /* Alinha a nota à direita */
    align-items: center;
    margin-left: auto; /* Garante que as notas fiquem no extremo direito */
}

.notes label {
    margin-right: 10px;
}

.notes-input {
    width: 50px;
    height: 30px;
    text-align: center;
    border: 1px solid var(--cor6);
    font-weight: bold;
    border-radius: 5px;
}

.notes-table{
    width: 50px;
    height: 30px;
    text-align: center;
    border: 1px solid var(--cor6);
    font-weight: bold;
    border-radius: 5px;

}

/* Checkbox e radio */
input{
    margin-right: 8px;
}

a{
    color: var(--cor5);
    text-decoration: none;
}
input[type="checkbox" ],input[type="radio"] {
    appearance: none; /* Remove o estilo padrão do checkbox */
    width: 20px;
    height: 20px;
    border: 2px solid var(--cor2);
    border-radius: 50%; /* Faz o checkbox ficar redondo */
    display:inline-block ;

}

/* Estilo para o estado marcado do checkbox */
input[type="checkbox" ]:checked,input[type="radio"]:checked {
    background-color: var(--cor7);
    border: 2px solid var(--cor7);
}

input[type="checkbox"]:checked::after,input[type="radio"]:checked::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 10px;
    height: auto;
    background-color: var(--cor7);
    border-radius: 50%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
    text-align: center;
    padding: 35px;
}

th, td {
    padding: 5px; /* Adiciona padding às células */
    border: 1px solid var(--cor6); /* Bordas para as células */
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button{
    margin-left: 85%;
    border-radius: 5px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor4);
    margin-bottom: 35px;
}