body {
    font-size: 17px;
    color: #113838;
    font-family: Arial, sans-serif;
    margin: 29px;
    padding: 0;
    background: #f4f4f4;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px #113838(0, 0, 0, 0.1);

}

h1 {
    text-align: center;
    color: #113838;
    margin-left: 1%;
    margin-right: 3%;
}

.tabelas {
    text-align: center;
    margin-left: 1%;
    margin-right: 3%;
}

.avaliacao {
    text-align: start;
    font-size: 27px;
}

.divider {
    /* linha q separa cada row*/
    border-top: 1px solid #AEF7C3;
    padding-top: 10px;
}

.anterior,
.posterior,
.lateraldireito,
.lateralesquerdo {
    width: 100%;
    height: 120px;
    top: 1703px;
    left: 2761px;
    font-family: Arial, sans-serif;
    resize: none;
    font-size: 15px;
    border-radius: 8px;
}

.descricao {
    font-size: 15px;
    border: 0.5px solid #113838;
    border-radius: 10px;
}

table {
    border-collapse: separate;
    width: 70%;
    margin: auto;
    color: #113838;
    border: 1px solid #113838;
    border-radius: 7px;
    border-spacing: 0;
    overflow: hidden;
    
}
th{
    padding: 11px;
}
th,
td {
    text-align: center;
    border: 0.5px solid #ccc;

}

tr {
    background-color: #DEF7E5;
}

input[class="textoTabela"] {
    width: 90%;
    height: 40px;
    border: none;
    box-sizing: 0;
    font-size: 15px;
    color: #113838;
    outline: none;
    background-color: #DEF7E5;
}

button {
    width: 170px;
    height: 47px;
    margin-top: 50px;
    margin-right: 30%;
    margin-left: 85%;
    border-radius: 8px;
    border: 1px solid black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DEF7E5;
    text-align: center;
}

/*Style do começao da tela (continuação da tela anterior)*/
.sub-titulo {
    font-size: 30px;
    text-align: center;
    width: 100%;
    margin-bottom: 0%;
}

.box-musculo {
    display: flex;
    margin-top: 20px;
    padding-top: 0;
    padding: 20px;
    margin-top: 1%;
}

.coluna1,
.coluna2 {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.coluna1 {
    margin-left: 7.5px;
    margin-right: 1px;
    text-align: left;

}

.coluna2 {
    margin-right: 7.5px;
}

.coluna1 p,
.coluna2 p {
    display: inline-block;
    margin: 5px 0;
    /* Espaçamento vertical entre os parágrafos */
    font-size: 17px;
    height: 100%;
}

.final {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.d-flex {
    border: 0.5px solid #AEF7C3;
}

.separacao-musculos {
    width: 100%;
    border: 1px solid #AEF7C3;
}

hr {
    border: 0.5px solid #AEF7C3;
    width: 95%;
}