body {
    font-size: 20px;
    color: #113838;
    font-family: Arial, sans-serif;
    margin: 30px;
    padding: 0;
    background: #f4f4f4;
}
.fundo{
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px #113838(0, 0, 0, 0.1);
}
h1 {
    margin-top: 25px;
    display: inline-block;
}

.data-exame {
    appearance: none;
    border-radius: 15px;
    display: inline-block;
    vertical-align: middle;
    border: 0;
    height: 22px;
    width: 155px;
    font-family: sans-serif;
    color: #113838;
    font-size: 24px;
    font-weight: bold;
}

.data-exame:hover {
    border: 0;
}

input::-webkit-inner-spin-button {
    display: none;
}

.data-exame:focus {
    outline: none;
    box-shadow: none;
    background-color: white;
}
.sub-titulo {
    font-size: 30px;
    text-align: center;
    width: 100%;
    margin-bottom: 0%;
}
.container {
    display: flex; 
    margin-top: 20px;
    padding-top: 0;
    padding: 20px;
    margin-top: 1%;
}
.coluna1, .coluna2 {
    flex: 1 ; 
    display: flex;
    flex-direction:column; 
}
.coluna1{
    margin-left: 7.5px;
    margin-right: 1px ;
    text-align:left;

}
.coluna2{
    margin-right: 7.5px;
}
.coluna1 p, .coluna2 p {
    display: inline-block;
    margin: 5px 0; /* Espaçamento vertical entre os parágrafos */
    font-size: 17px;
    height: 100%;
}
.final{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
.d-flex{
    border: 0.5px solid #AEF7C3 ;
}
.descricao{
    font-size: 15px;
    border: 0.5px solid #113838;
    border-radius: 10px;
}
.separacao-musculos{
    width: 100%;
    border: 1px solid #AEF7C3;
}
hr{
    border: 0.5px solid #AEF7C3;
    width: 95%;
}
br{
    font-size: 22px;
}
button{
    width: 170px;
    height: 47px;
    margin-top: 50px;
    margin-left: 85%;
    border-radius: 8px;
    border: 1px solid black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#AEF7C3;
    text-align: center;
}


